:root
{
    --purple: 	#321363;

    --lime: #09ec2e;
    --orange: #ec9f09;
    --magenta: #ec09c7;
    --limehover: #0ac028;
    --orangehover: #b97e08;
    --magentahover: #b20f97;

    --black: 	#222222;
    --white: 	#d9d9d9;
    --whitehover: #b0b0b0;





    --filter-wrap-size: 19vw;

}
*{box-sizing: border-box; font-family: 'Koulen', sans-serif; margin:0px;}
body
{
    
    background-color: var(--purple);
    width: 100%;
    margin: 0 auto;

}




.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24;

  color: var(--black);
}



/*=================================Index Layout====================================*/

.index-header
{
    white-space: nowrap;
    display: grid;
    place-items: center;
    width: 100%;
    height: 120px;
    margin: 0px;

    font-size: 3em;

    text-align: center;
    background-color: var(--white);


}


.index-filter-container
{
    
    --margin: 8vw;
    width: calc(100% - --margin*2) ;
    height: var(--filter-wrap-size);
    margin: 50px var(--margin) ;
    display: flex;

    justify-content: space-between;

}

.index-filter-wrap
{
    background-color: var(--white);
    color: var(--lime);
    width: var(--filter-wrap-size);
    height: 100%;
    border-radius: 20%;


}

.index-filter-text
{
    font-size: 2vw;
    height: 10%;
    text-align: center;
    color: var(--black);
    margin: 10%;
}


.index-keyword-text-input
{
    
    --margin: 5%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    padding-bottom: 2%;
 


    width: calc(100% - var(--margin)*2);
    height: 20%;
    border-radius: 50px;
    margin: var(--margin);
    
    background-color: var(--orange);


}








input[type=text]
{

   font-size: 2em;
   display: block;
   outline: none;
   border: none;
   background-color: transparent;
   width: 90%;
   height: 60%;
   margin: 0px;
}

.index-keyword-text-underline
{
    display: block;
    width: 90%;
    background-color: var(--black);
    height: 10%;
    
   
    
    border-radius: 10px;

}



.index-dropdown-input
{
    --margin: 5%;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    padding-right: 2%;
 


    width: calc(100% - var(--margin)*2);
    height: 20%;
    border-radius: 50px;
    margin: var(--margin);

}

.index-dropdown-arrow
{

    width: 25%;
    height: auto;
}






.index-filter-add
{
    
    
  
    display: flex;
    justify-content: center;
    align-items: center;
   
    
    
    
    width: 25%;
    height: auto;


   
    margin: 0px auto;
    margin-top: 10%;

}


.index-filter-remove
{

    
    display: flex;
    justify-content: center;
    align-items: center;
   
    
    
    
    min-width: 35%;
    height: auto;
    
}









.index-filter-selection-container
{
    --margin: 4vw;
    
    border: 10px dashed var(--white);
    width: calc(100% - --margin*2) ;
    height: auto;
    margin: 50px var(--margin) ;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    padding: 0.5%;

}

.index-filter-selected
{
    
    white-space: nowrap;

    height: 80px;
    max-width: 15%;
    min-width: 15%;
    font-size: 3vw;
    border-radius: 50px ;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    align-items: center;
    padding: 1% 1% 1% 2%;
    margin: 0.5%;
}


.index-filter-selected-text
{
    
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow-x: scroll;
    overflow-y: hidden;
    
    
    width: 60%;
    height: 95%
  
}


.index-filter-selected-text::-webkit-scrollbar {
    
    display: none;
  
  }

.filter-type-keyword
{
    background-color: var(--orange);

}

.filter-type-category
{

    background-color: var(--lime);
}

.filter-type-platform
{

    background-color: var(--magenta) ;
}



.index-search
{


    display: block;
   
    width: 15vw;
    height: 7.5vw;

    background-color: var(--white);
    color: var(--black);
    margin: 20px auto;
    border-radius: 20px;

    font-size: 3.5vw;


}


.index-search > a
{
    text-decoration: none;
    color: var(--black);

}





@media only screen and (max-width: 1000px) {
    
   
}



@media only screen and (max-width: 600px){
    
    :root
    {

        --filter-wrap-size: 26vw;
    }



    .index-header
    {
        font-size: 2em;
    }

    

    .index-filter-text
    {
        font-size: 1em;
        height: 10%;
        text-align: center;
        color: var(--black);
        margin: 30;
    }


    .index-filter-selected
    {

        min-width: 45%;
        max-width: 45%;
        margin: 2.5%;
        height: 15%;
    }

    .index-filter-selected-text
    {

        font-size: 1.45em;
    }

    

    .index-search
    {

        display: block;
        width: 90%;
        margin: 5%;
        height: 10vh;

        font-size: 3em;
    }
    


    .index-filter-remove
{


    
    min-width: 10%;
    height: auto;
    
}

}




/*---------------------------------Index Layout------------------------------------*/

/*===============================GameList Layout===================================*/

.gamelist-body
{
    width: 90%;
}

.gamelist-header{
    width: 100%;
    padding: 20px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px;
}

.gamelist-header h1{
    color: var(--white);
    font-size: 2.5rem;
}

.gamelist-filter-container{
    display: flex;
}

.gamelist-filter-container > a{
    display:block;
    max-width: 250px;
    width: 15vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 50px;
    font-size: 1.3em;
    margin-right: 20px;
    color: var(--purple);
}

.gamelist-filter-container > a > i{
    font-size: 36px;
}

.gamelist-homebutton{
    background-color: var(--white);
    padding: 0 5px;
    border-radius:10px;
    color: var(--purple);
}

.gamelist-homebutton:hover{
    background-color: var(--whitehover);
}

.gamelist-spacer{
    width:100%;
    border-top: var(--white) dashed 5px;
}

.gamelist-main{
    margin: 20px 0 50px 0;
    width: 100%;
}

.gamelist-main h2{
    color: var(--white);
}

.gamelist-list{
    height: 250px;
    width: 100%;
    display: flex;
    margin-bottom: 30px;
}

.gamelist-arrow{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 40px;
    background-color: var(--white);
    color:var(--purple);
    border-radius: 50px;

}

.gamelist-arrow:hover{
    background-color: var(--whitehover);
}

.gamelist-arrow > i{
    font-size: 36px;
}

.gamelist-list-container{
    width: calc(100% - 140px);
    margin: 0 30px;
    overflow: scroll;
    display: flex;
    gap: 30px;
    position: relative;
}


.gamelist-card{
    height: 100%;
    width:150px;
    background-color: var(--white);
    overflow: hidden;
    display:flex;
    flex-direction: column;
    align-items: center;
    border-radius: 25px;
    flex-shrink: 0;
    text-decoration: none;
    color: var(--black);
}
.gamelist-card img{
    height: 80%;
    width: auto;
    min-width: 150PX;
    flex-shrink: 0;
    flex-wrap: 0;
}

.gamelist-card-title{
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gamelist-list-container::-webkit-scrollbar{
    display:none;
}

@media screen and (max-width: 1027px){
    .gamelist-header{
        flex-flow: row wrap;
    }
    .gamelist-header > h1{
        flex: 50%;
    }
    .gamelist-header > div{
        order: 3;
        flex:100%;
        justify-content: center;
    }
    .gamelist-filter-container > a{
        width: 30%;
    }
}

@media screen and (max-width: 500px){
    .gamelist-filter-container{
        width: 100%;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
    .gamelist-filter-container > a{
        width: 100%;
        margin: 0;
    }
    .gamelist-header{
        margin-bottom: 50px;
    }
    .gamelist-list{
        height: 200px;
    }
    .gamelist-arrow{
        display: none;
    }
    .gamelist-list-container{
        width:100%;
        margin:0;
        overflow-x: scroll;
    }
    .gamelist-card{
        width:112px;
    }
}

/*-----------------------------------------------------------------*/
/*---------------------------------GameList Layout---------------------------------*/
/*-----------------------------------------------------------------*/

.main-gameselect{
    display: grid;
    grid-template-columns: 1fr 2fr;
}


.gameselect-body {
    width: 90%;
}

.gameselect-header {
    width: 100%;
    padding: 20px auto;
    display: flex;
    align-items: center;
    justify-content: flex-end; /* Change to flex-end to align items to the right */
    margin-bottom: 25px;
}

.gameselect-spacer {
    width:100%;
    border-top: var(--white) dashed 4px;
}

.gameselect-backbutton,
.gameselect-homebutton {
    background-color: var(--white);
    padding: 0 5px;
    border-radius: 10px;
    color: var(--purple);
}

.gameselect-backbutton {
    margin-right: 15px;
}

.gameselect-homebutton {
    margin-left: 15px;
}

.gameselect-backbutton:hover,
.gameselect-homebutton:hover {
    background-color: var(--whitehover);
}

.gameselect-img {
    align-items: flex-end;
}

.doom-eternal-pic{
    width: 85%;
    height: 115%;
    border-radius: 65px; 
        overflow: hidden;
}

.div {
    display: flex;
    margin-top: 19px;
    flex-direction: column;
}
  .description {
    color: #fff;
    text-align: left;
    font: 400 40px Koulen, sans-serif;
  }

  
  .div-3 {
    border-bottom: 6px solid #d9d9d9;
    background-color: #321363;
    display: flex;
    margin-top: 33px;
    height: 5px;
    flex-direction: column;
  }

  .div-4 {
    color: #ffffff;
    margin-bottom: 24px;
    font: 400 28px Koulen, sans-serif;
  }
 
 /*-----------------------------------------------------------------*/
/*---------------------------------GameList Layout---------------------------------*/
/*-----------------------------------------------------------------*/

 