:root
{
    --purple: 	#321363;

    --lime: #09ec2e;
    --orange: #ec9f09;
    --magenta: #ec09c7;

    --black: 	#222222;
    --white: 	#d9d9d9;


}
*{box-sizing: border-box; font-family: 'Koulen', sans-serif; margin:0px;}
body
{
    
    background-color: var(--purple);

}

header
{
    white-space: nowrap;
    display: grid;
    place-items: center;
    width: 100%;
    height: 120px;
    margin: 0px;

    font-size: 3em;

    text-align: center;
    background-color: var(--white);


}