:root
{
    --purple: 	#321363;

    --lime: #09ec2e;
    --orange: #ec9f09;
    --magenta: #ec09c7;

    --black: 	#222222;
    --white: 	#d9d9d9;





    --filter-wrap-size: 17vw;

}
*{box-sizing: border-box; font-family: 'Koulen', sans-serif; margin:0px;}
body
{
    
    background-color: var(--purple);
    width: 90%;
    margin: 0 auto;

}

/*=================================Index Layout====================================*/

.index-header
{
    white-space: nowrap;
    display: grid;
    place-items: center;
    width: 100%;
    height: 120px;
    margin: 0px;

    font-size: 3em;

    text-align: center;
    background-color: var(--white);


}


.index-filter-container
{

    --margin: 50px;
    background-color: #09ec2e;
    width: calc(100% - --margin*2) ;
    height: var(--filter-wrap-size);
    margin: var(--margin);
    display: flex;

    justify-content: space-between;

}

.index-filter-wrap
{
    background-color: var(--white);
    color: var(--lime);
    width: var(--filter-wrap-size);
    height: 100%;
    border-radius: 20%;


}

.index-keyword-text
{
    font-size: 2em;
    text-align: center;
    color: var(--black);
    margin: 20px;
}


.index-keyword-text-input
{
    
    --margin: 20px;
    width: calc(100% - var(--margin)*2);
    height: 20%;
    border-radius: 50px;
    margin: var(--margin);

    background-color: var(--orange);


}


.index-filter-add-button
{
    margin: 50%;

    width: 20%;
    height: 20%;

    background-color: var(--black);
    color: var(--white);
    border-radius: 50%;

    margin: auto 20px;
    font-size: 300%;
    font-weight: lighter;
    display: grid;
    place-items: center;


}

/*---------------------------------Index Layout------------------------------------*/

/*===============================GameList Layout===================================*/

.gamelist-header{
    width: 100%;
    padding: 20px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.gamelist-header h1{
    color: var(--white);
    font-size: 2.5rem;
}

.gamelist-filter-container{
    display: flex;
}

.gamelist-filter-container > a{
    display:block;
    max-width: 250px;
    width: 15vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 50px;
    font-size: 1.3em;
    margin-right: 20px;
    color: var(--purple);
}

.gamelist-filter-container > a > i{
    font-size: 36px;
}

.gamelist-homebutton{
    background-color: var(--white);
    padding: 0 5px;
    border-radius:10px;
}

.gamelist-spacer{
    width:100%;
    border-top: var(--white) dashed 5px;
}